html, body {
	padding:0px;
	margin: 0px;
}

#container {
	display: flex;
	flex-direction: row;
	justify-content: center, space-around;
}

.box {
	width: 500px;
	height: 500px;
	margin: 40px;
	font-family: 'Cardo', serif;
	font-size: 48px;
}

.pic {
	height: 450px;
}

.info {
	position: relative;
	top: 12%;
	opacity: 0;
}

#first:hover .info {
	opacity: 1;
	transition: 1s;
}

#second:hover .info {
	opacity: 1;
	transition: 1s;
}

#third:hover .info {
	opacity: 1;
	transition: 1s;
}

.pic:hover {
	animation: rotate 1.8s;
	cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
 }

